<div id="root">
  <h1>Warning! React is unresponsive!</h1>
</div>

<script type="text/javascript" >
  window.images = {
    lemonHarvest: '<%= asset_path('images/lemonHarvest.png') %>',
    iconApple: '<%= asset_path('images/iconApple.png') %>',
    iconHP: '<%= asset_path('images/iconHP.png') %>',
    iconMcDonalds: '<%= asset_path('images/iconMcDonalds.png') %>',
    orangeTree: '<%= asset_path('images/orangeTree.png') %>',
    iconFruit: '<%= asset_path('images/iconFruit.png') %>',
    iconAlmond: '<%= asset_path('images/iconAlmond.png') %>',
    iconCarrot: '<%= asset_path('images/iconCarrot.png') %>',
    iconPlant: '<%= asset_path('images/iconPlant.png') %>',
    iconWalk: '<%= asset_path('images/iconWalk.png') %>',
    iconNature: '<%= asset_path('images/iconNature.png') %>',
  }
</script>