<div id="root">
  <h1>No Reaction</h1>
</div>

<script type="text/javascript" >
  window.images = {
    lemonHarvest: '<%= asset_path('images/lemonHarvest.png') %>',
    iconABC: '<%= asset_path('images/iconABC.png') %>',
    iconApple: '<%= asset_path('images/iconApple.png') %>',
    iconHP: '<%= asset_path('images/iconHP.png') %>',
    iconMcDonalds: '<%= asset_path('images/iconMcDonalds.png') %>',
  }
</script>